.content_film{
    width: 200px;
    margin: 20px;
    height: 400px;

    & .poster{
        width: 200px;
    }
    & .date{
        border: 1px solid black;
        float: right;
        padding: 2px;
    }
    & .discription_film{
        display: block;
    }
}